///
/// Fonts
///
@gb-font-family-sans-serif:        "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
@gb-font-size-base:                14px;
@gb-font-size-medium:              16px;
@gb-font-size-large:               18px;
@gb-font-size-small:               12px;
@gb-line-height-base:              1.428571429;

@gb-assets-path:                   "/static";
@gb-font-path:                     "@{gb-assets-path}/fonts";
@gb-font-path-raleway:             "@{gb-font-path}/raleway";
@octicons-font-path:               "@{gb-font-path}/octicons";


///
/// Size
///
@gb-padding-base-vertical:         6px;
@gb-padding-base-horizontal:       12px;

@gb-padding-large-vertical:        10px;
@gb-padding-large-horizontal:      16px;

@gb-padding-small-vertical:        5px;
@gb-padding-small-horizontal:      10px;

@gb-padding-xs-vertical:           1px;
@gb-padding-xs-horizontal:         5px;

@gb-line-height-large:             1.3333333; // extra decimals for Win 8.1 Chrome
@gb-line-height-small:             1.5;

@gb-border-radius-base:            4px;
@gb-border-radius-large:           6px;
@gb-border-radius-small:           3px;

///
/// z-index
///
@gb-zindex-dropdown:              200;
@gb-zindex-tooltip:               300;
@gb-zindex-modal:                 500;
@gb-zindex-contextmenu:           600;


///
/// Colors
///
@gb-palette-black:                 #2d2d2d;
@gb-palette-gray-light:            #fcfcfc;
@gb-palette-gray:                  #f5f5f5;
@gb-palette-gray-outline:          #d4d4d4;
@gb-palette-gray-dark:             #e5e5e5;
@gb-palette-gray-darker:           #b3b3b1;
@gb-palette-darkgray:              #4f4f52;
@gb-palette-blue:                  #428bca;
@gb-palette-clearblue:             #44b6f1;
@gb-palette-green:                 #5cb85c;
@gb-palette-orange:                #f0ad4e;
@gb-palette-red:                   #dd4b39;
@gb-palette-logo:                  #4d4d4f;
@gb-palette-fade:                  30%;

@gb-brand-primary:                 @gb-palette-blue;
@gb-brand-success:                 @gb-palette-green;
@gb-brand-warning:                 @gb-palette-orange;
@gb-brand-danger:                  @gb-palette-red;
@gb-brand-info:                    @gb-palette-clearblue;

///
/// Links
///
@gb-link-color:                    @gb-brand-primary;


///
/// Body
///
@gb-body-background:               #ffffff;
@gb-body-color:                    #333;

///
/// Radius
///
@gb-border-radius-base:            2px;
@gb-border-radius-large:           4px;
@gb-border-radius-small:           1px;

///
/// Buttons
///
@gb-button-background:             @gb-palette-gray-light;
@gb-button-border:                 darken(@gb-button-background, 20%);

///
/// Forms
///
@gb-form-control-background:       #fff;
@gb-form-control-border:           @gb-palette-gray-outline;
@gb-form-select-caret:             'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAICAYAAAD0g6+qAAAAPElEQVR42mNgoCIwBGIHHNiAFIOuAPF/HPg8KQZJA/EtLIZcB2IJUr2HbhhZhsCAFBDfpNQQGBCA4oEDAMmuFUNmpjnkAAAAAElFTkSuQmCC';

///// Active
@gb-form-control-active-background:     @gb-form-control-background;
@gb-form-control-active-border:         @gb-brand-primary;

///// Disabled
@gb-form-control-disabled-background:   @gb-palette-gray;
@gb-form-control-disabled-border:       @gb-form-control-border;

///
/// Dropdown
///
@gb-dropdown-border:               @gb-button-border;
@gb-dropdown-background:           #fff;
@gb-dropdown-background-hover:     @gb-palette-gray;
@gb-dropdown-background-active:    @gb-brand-primary;

///
/// List Groups
///
@gb-listgroup-color:               @gb-body-color;
@gb-listgroup-background:          #fff;
@gb-listgroup-hover-background:    @gb-palette-gray;
@gb-listgroup-border:              @gb-palette-gray-outline;
@gb-listgroup-active-color:        @gb-palette-red;

///
/// Header
///
@gb-header-background:             #f5f5f5;
@gb-header-border-color:           #d5d5d5;
@gb-header-color:                  #555;
@gb-header-shadow:                 ~"inset 0px 1px #fff";

///
/// Modal
///
@gb-modal-border:                 @gb-palette-gray-outline;
@gb-modal-innerborder:            @gb-palette-gray-dark;
@gb-modal-radius:                 @gb-border-radius-large;
@gb-modal-shadow:                 ~"0 5px 15px rgba(0,0,0,.5)";
@gb-modal-background:             #fff;
@gb-modal-padding:                15px;
@gb-modal-size-small:             400px;
@gb-modal-size-medium:            600px;
@gb-modal-size-large:             800px;

///
/// Alerts
///
@gb-alert-padding:                15px;
@gb-alert-marging:                20px;
@gb-alert-radius:                 @gb-border-radius-large;

@gb-alert-danger-color:           #911;
@gb-alert-danger-background:      #fcdede;
@gb-alert-danger-border:          #d2b2b2;

@gb-alert-warning-color:          #4c4a42;
@gb-alert-warning-background:     #fff9ea;
@gb-alert-warning-border:         #dfd8c2;

@gb-alert-info-color:             #246;
@gb-alert-info-background:        #e2eef9;
@gb-alert-info-border:            #bac6d3;

@gb-alert-success-color:          #3c763d;
@gb-alert-success-background:     #dff0d8;
@gb-alert-success-border:         #c0d1d0;

///
/// Spinner
///
@gb-spinner-background:           @gb-palette-gray;
@gb-spinner-color:                @gb-brand-primary;
@gb-spinner-duration:             1.5s;
@gb-spinner-size-small:           12px;
@gb-spinner-size-medium:          30px;
@gb-spinner-size-large:           50px;

///
/// Grid
///

//// number of columns in a grid
@gb-grid-columns:                  12;

//// gutter of grid
@gb-grid-gutter-width:             20px;

//// Extra small screen / phone
@gb-container-xs:                  ((480px + @gb-grid-gutter-width));

//// Small screen / tablet
@gb-container-sm:                  ((720px + @gb-grid-gutter-width));

//// Medium screen / desktop
@gb-container-md:                  ((940px + @gb-grid-gutter-width));

//// Large screen / wide desktop
@gb-container-lg:                  ((1010px + @gb-grid-gutter-width));


