///
/// Fonts
///
@gb-font-family-sans-serif:        "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
@gb-font-size-base:                14px;
@gb-font-size-medium:              16px;
@gb-font-size-large:               18px;
@gb-font-size-small:               12px;
@gb-line-height-base:              1.428571429;

@gb-font-path:                     "/static/fonts";
@gb-font-path-raleway:             "@{gb-font-path}/raleway";
@octicons-font-path:               "@{gb-font-path}/octicons";


///
/// Size
///
@gb-padding-base-vertical:         6px;
@gb-padding-base-horizontal:       12px;

@gb-padding-large-vertical:        10px;
@gb-padding-large-horizontal:      16px;

@gb-padding-small-vertical:        5px;
@gb-padding-small-horizontal:      10px;

@gb-padding-xs-vertical:           1px;
@gb-padding-xs-horizontal:         5px;

@gb-line-height-large:             1.3333333; // extra decimals for Win 8.1 Chrome
@gb-line-height-small:             1.5;

@gb-border-radius-base:            4px;
@gb-border-radius-large:           6px;
@gb-border-radius-small:           3px;




///
/// Colors
///
@gb-palette-black:                 #2d2d2d;
@gb-palette-gray-light:            #fcfcfc;
@gb-palette-gray:                  #f5f5f5;
@gb-palette-gray-outline:          #d4d4d4;
@gb-palette-gray-dark:             #e5e5e5;
@gb-palette-gray-darker:           #b3b3b1;
@gb-palette-darkgray:              #4f4f52;
@gb-palette-blue:                  #428bca;
@gb-palette-green:                 #5cb85c;
@gb-palette-red:                   #dd4b39;
@gb-palette-logo:                  #4d4d4f;
@gb-palette-fade:                  30%;

@gb-brand-primary:                 @gb-palette-blue;
@gb-brand-success:                 @gb-palette-green;
@gb-brand-warning:                 #f0ad4e;
@gb-brand-danger:                  @gb-palette-red;
@gb-brand-info:                    #44b6f1;

///
/// Body
///
@gb-body-background:               #ffffff;
@gb-body-color:                    #333;

///
/// Radius
///
@gb-border-radius-base:            2px;
@gb-border-radius-large:           4px;
@gb-border-radius-small:           1px;

///
/// Buttons
///
@gb-button-background:             @gb-palette-gray-light;
@gb-button-border:                 darken(@gb-button-background, 20%);

///
/// Dropdown
///
@gb-dropdown-border:               @gb-button-border;
@gb-dropdown-background:           #fff;
@gb-dropdown-background-hover:     @gb-palette-gray;
@gb-dropdown-background-active:    @gb-brand-primary;

///
/// Header
///
@gb-header-background:             #f5f5f5;
@gb-header-border-color:           #d5d5d5;
@gb-header-color:                  #555;
@gb-header-shadow:                 ~"inset 0px 1px #fff";

///
/// Grid
///

//// number of columns in a grid
@gb-grid-columns:                  12;

//// gutter of grid
@gb-grid-gutter-width:             20px;

//// Extra small screen / phone
@gb-container-xs:                  ((480px + @gb-grid-gutter-width));

//// Small screen / tablet
@gb-container-sm:                  ((720px + @gb-grid-gutter-width));

//// Medium screen / desktop
@gb-container-md:                  ((940px + @gb-grid-gutter-width));

//// Large screen / wide desktop
@gb-container-lg:                  ((1140px + @gb-grid-gutter-width));


