{
    "rules": {
        "indent": [ 2, 4 ],
        "quotes": [ 2, "single" ],
        "linebreak-style": [ 2, "unix" ],
        "semi": [ 2, "always" ],
        "no-unused-vars": [ 2, {
            "vars": "all",
            "args": "none"
        } ],
        "no-extra-boolean-cast": [ 0 ],
        "spaced-comment": [ 2, "always" ],

        "react/jsx-uses-vars": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-no-duplicate-props": 2,
        "react/no-deprecated": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-direct-mutation-state": 2,
        "react/no-is-mounted": 2,
        "react/no-unknown-property": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 2
    },
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "node": true,
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "globals": {
        "electronRequire": true,
        "remote": true,
        "electron": true
    },
    "extends": "eslint:recommended"
}
