@import "../../less/main.less";

.docs-body {
    padding: 30px 0px;
}

.docs-example {
    position: relative;
    padding: 15px;
    font-size: 13px;
    line-height: 1.4;
    border: 1px solid #e5e5e5;
    border-radius: .25rem .25rem 0 0;

    &+.highlight {
        margin-top: -1px;
        border: 1px solid #e5e5e5;
        border-radius: 0 0 .25rem .25rem;
        margin-bottom: 30px;

        > pre {
            margin: 0px;
        }
    }
}


