.gb-page-footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: @gb-footer-height;
    padding: ((@gb-footer-height - @gb-footer-inner-height)/2) 0px;
    margin: 0;

    .footer-logo {
        color: @gb-palette-gray;
        float: left;
        margin-right: 30px;

        .Icon {
            height: @gb-footer-inner-height;
        }
    }

    .container {
        .menu {
            list-style: none;
            margin: 0px;
            padding: 0px;
            .clearfix();

            >li {
                float: left;

                /* Copyright */
                &.footer-copyright {
                    float: right;

                    > a, > span {
                        font-weight: @gb-font-weight-bold;
                        color: @gb-footer-copyright-color;
                        padding-right: 0px;
                    }
                }

                >a, >span {
                    padding: (@gb-footer-inner-height - 20)/2 15px;
                    display: inline-block;
                    color: @gb-footer-color;
                    font-size: @gb-footer-fontsize;
                    line-height: 20px;
                    font-weight: @gb-font-weight-base;
                    height: @gb-footer-inner-height;

                    &.service-info {
                        color: #818181;
                        font-weight: @gb-font-weight-base;
                    }
                }

                > a {
                    text-decoration: none;

                    &:hover, &:focus {
                        text-decoration: underline;
                        //background: rgba(0, 0, 0, 0.08);
                    }
                }
            }
        }
    }
}
