.gb-page-footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: @gb-footer-height;
    margin: 0;

    .container {
        .menu {
            list-style: none;
            margin: 0px;
            padding: 0px;
            .clearfix();
            border-top: 1px solid @gb-footer-border;

            >li {
                float: left;

                >a, >span {
                    padding: ((@gb-footer-height - 1) - 20)/2 10px;
                    display: inline-block;
                    color: @gb-footer-color;
                    text-transform: uppercase;
                    letter-spacing: .2px;
                    font-size: @gb-footer-fontsize;
                    line-height: 20px;
                    font-weight: @gb-font-weight-base;
                    height: (@gb-footer-height - 1);

                    &.service-info {
                        color: #818181;
                        font-weight: @gb-font-weight-base;
                    }
                }

                > a {
                    text-decoration: none;

                    &:hover, &:focus {
                        text-decoration: underline;
                        //background: rgba(0, 0, 0, 0.08);
                    }
                }
            }
        }
    }
}
