.alert {
    border: 1px solid @gb-palette-gray-outline;
    background: @gb-palette-gray;
    border-radius: @gb-alert-radius;
    padding: @gb-alert-padding;
    margin-bottom: @gb-alert-marging;

    &.alert-danger {
        background: @gb-state-danger-background;
        border-color: @gb-state-danger-border;
        color: @gb-state-danger-color;
    }

    &.alert-warning {
        background: @gb-state-warning-background;
        border-color: @gb-state-warning-border;
        color: @gb-state-warning-color;
    }

    &.alert-info {
        background: @gb-state-info-background;
        border-color: @gb-state-info-border;
        color: @gb-state-info-color;
    }

    &.alert-success {
        background: @gb-state-success-background;
        border-color: @gb-state-success-border;
        color: @gb-state-success-color;
    }


    .alert-btn {
        display: inline-block;
        float: right;
        color: inherit;
        border-radius: @gb-border-radius-base;
        padding: 0px;
        color: #000;
        opacity: 0.3;
    }

    a.alert-btn {
        text-decoration: none;

        &:hover, &:focus {
            opacity: 0.5;
            text-decoration: none;
        }
    }
}