.blankslate {
    width: 100%;
    max-width: 400px;
    margin: @gb-blankslate-vertical-padding auto;
    text-align: center;
    padding: 20px;
    color: #666;

    @media (max-height: 800px) {
        margin: (@gb-blankslate-vertical-padding / 2) auto;
    }


    .icon {
        font-size: @gb-blankslate-icon-size;
        line-height: 1.9em;
        color: @gb-palette-gray-darker;
    }

    h3 {
        margin: 10px 0;
        margin-top: 0px;
        font-size: 22px;
        font-weight: @gb-font-weight-bold;
    }

    p {
        margin: 10px 0px;
    }

    &.with-background {
        background-color: @gb-blankslate-background;
        border: 1px solid @gb-blankslate-border;
        .border-radius(@gb-border-radius-base);
        .box-shadow(~"inset 0 0 10px rgba(0,0,0,0.05)");
    }

    &.full-width {
        max-width: 100%;
        margin: 0px;
        padding: @gb-blankslate-vertical-padding @gb-blankslate-vertical-padding;
    }

    .blankslate-inner {
        max-width: @gb-blankslate-inner-maxwidth;
        width: 100%;
        margin: 0px auto;
    }
}

.blankslate-layout {
    width: 100%;
    height: 100%;
    .flex-display();
    align-items: center;
    justify-content: center;


    &.with-background {
        background-color: @gb-blankslate-background;
        border: 1px solid @gb-blankslate-border;
        .box-shadow(~"inset 0 0 10px rgba(0,0,0,0.05)");
    }

    .blankslate {
        margin: 0px;

        // We add a bottom padding to push the blankslate to the top
        // and give a more centered impression
        padding-bottom: 50px;
    }
}

