.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
    padding: @padding-vertical @padding-horizontal;
    font-size: @font-size;
    line-height: @line-height;
    border-radius: @border-radius;
}

.button(@mainColor) {
    text-shadow: none;
    border-radius: @gb-border-radius-base;
    text-shadow: none;
    background: linear-gradient(@gb-button-background, darken(@gb-button-background, 6%));
    border: 1px solid darken(@gb-button-background, 20%);
    color: @mainColor;
    .box-shadow(none);

    &:hover, &:focus, &:active, &.dropdown-toggle.open {
        background: linear-gradient(@gb-button-background, darken(@gb-button-background, 10%));
        border-color: darken(@gb-button-background, 20%);
        .box-shadow(none);
        outline: none;
    }

    .caret {
        border-top-color: @mainColor;
    }

    &.btn-noborder, &.btn-link {
        text-shadow: none;
        color: @mainColor;
        border: none;
        background: none;
        .box-shadow(none);

        &:hover, &:focus {
            color: darken(@mainColor, 12%);
            outline: none;
        }
    }

    &.btn-fill {
        background: linear-gradient(@mainColor, darken(@mainColor, 10%));
        border-color: darken(@mainColor, 15%);
        color: #fff;

        &:hover, &:focus {
            background: linear-gradient(@mainColor, darken(@mainColor, 15%));
            border-color: darken(@mainColor, 20%);
        }
    }
}


.btn {
    .button-size(@gb-padding-base-vertical; @gb-padding-base-horizontal;
        @gb-font-size-base; @gb-line-height-base; @gb-border-radius-base);

    /// Sizes
    .btn-lg {
        // line-height: ensure even-numbered height of button next to large input
        .button-size(@gb-padding-large-vertical; @gb-padding-large-horizontal; @gb-font-size-large; @gb-line-height-large; @gb-border-radius-large);
    }
    .btn-sm {
        // line-height: ensure proper height of button next to small input
        .button-size(@gb-padding-small-vertical; @gb-padding-small-horizontal; @gb-font-size-small; @gb-line-height-small; @gb-border-radius-small);
    }
    .btn-xs {
        .button-size(@gb-padding-xs-vertical; @gb-padding-xs-horizontal; @gb-font-size-small; @gb-line-height-small; @gb-border-radius-small);
    }


    /// Styles
    &.btn-default {
        .button(#fcfcfc);
        color: @gb-body-color;

        .caret {
            border-top-color: @gb-body-color;
        }
    }

    &.btn-success {
        .button(@gb-brand-success);
    }
    &.btn-primary {
        .button(@gb-brand-primary);
    }
    &.btn-warning {
        .button(@gb-brand-warning);
    }
    &.btn-danger {
        .button(@gb-brand-danger);
    }
    &.btn-info {
        .button(@gb-brand-info);
    }
}

