.caret {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    vertical-align: -2px;
    border: 4px solid @gb-caret-color;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.dropdown, .btn-group.dropdown {
    position: relative;

    > .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0px;
    }

    &.open, &.inner {
        >.dropdown-menu {
            display: block
        }
    }

    // Arrows
    &:not(.contextmenu) > .dropdown-menu {
        margin-top: 12px;
        overflow: visible !important;

        &:after, &:before {
            bottom: 100%;
            right: 16px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:before {
            border-color: transparent;
            border-bottom-color: @gb-dropdown-border;
            border-width: 11px;
            margin-right: -11px;
        }
        &:after {
            border-color: transparent;
            border-bottom-color: @gb-dropdown-background;
            border-width: 10px;
            margin-right: -10px;
        }
    }

    &.pull-left:not(.contextmenu) {
        > .dropdown-menu {
            left: 0px;
            right: auto;

            &:not(.inner) {
                &:after, &:before {
                    right: auto;
                    left: 16px;
                }
                &:before {
                    margin-right: 0px;
                    margin-left: -11px;
                }
                &:after {
                    margin-right: 0px;
                    margin-left: -10px;
                }
            }
        }
    }

    // Context menu
    &.contextmenu {
        position: fixed;
        z-index: @gb-zindex-contextmenu;

        .dropdown-menu {
            display: block;
            position: static;
            top: 0px;
            right: 0px;
        }
    }


    // Dropdown to the top
    &.dropup {
        > .dropdown-menu {
            position: absolute;
            top: auto;
            bottom: 100%;

            // Submenu
            li .dropdown-menu {
                top: auto;
                bottom: 0px;
            }
        }

        &:not(.contextmenu) > .dropdown-menu {
            margin-top: 0px;
            margin-bottom: 12px;

            &:after, &:before {
                top: 100%;
                bottom: auo;
                right: 16px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            &:before {
                border-color: transparent;
                border-top-color: @gb-dropdown-border;
                border-width: 11px;
                margin-right: -11px;
            }
            &:after {
                border-color: transparent;
                border-top-color: @gb-dropdown-background;
                border-width: 10px;
                margin-right: -10px;
            }
        }
    }
}

.dropdown-menu, .dropdown .dropdown-menu {
    display: none;
    position: relative;
    z-index: @gb-zindex-dropdown;
    background: #fff;
    list-style: none;
    border: 1px solid @gb-dropdown-border;
    background: @gb-dropdown-background;
    min-width: 160px;
    margin: 0px;
    padding: 0px;
    border-radius: @gb-dropdown-radius;
    .box-shadow(@gb-dropdown-shadow);
    padding-top: @gb-dropdown-padding;
    padding-bottom: @gb-dropdown-padding;

    &.open, &.inner {
        display: block;
    }

    li {
        margin: 0px;
        padding: 0px;
        position: relative;

        &.divider {
            height: 1px;
            margin: @gb-dropdown-padding 1px;
            background-color: @gb-dropdown-divider;
        }

        &.dropdown-header {
            padding: 4px 10px;
            font-size: @gb-font-size-small;
            color: #999;
        }

        a {
            padding: 4px 10px;
            cursor: default;
            color: inherit;
            text-decoration: none;
            display: block;
            .text-overflow();
            cursor: pointer;
            text-shadow: none;

            &:hover {
                text-decoration: none;
                text-shadow: none;
                background: @gb-dropdown-background-hover;
                color: @gb-dropdown-color-hover;
            }
        }

        &.active > a {
            background: @gb-dropdown-background-active;
            color: @gb-dropdown-color-active;
        }


        // Submenu
        >.dropdown-menu {
            position: absolute;
            right: auto;
            left: 100%;
            margin-top: 0px;
            top: 0px;
            margin-top: -1px;

            &:after, &:before {}
        }

        &:hover {
            >.dropdown-menu {
                display: block;
            }
        }
    }
}
