.dropdown, .btn-group.dropdown {
    position: relative;

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0px;
        z-index: @gb-zindex-dropdown;
        background: #fff;
        list-style: none;
        border: 1px solid @gb-dropdown-border;
        background: @gb-dropdown-background;
        min-width: 160px;
        margin: 0px;
        padding: 0px;

        &.open {
            display: block;
        }

        li {
            margin: 0px;
            padding: 0px;
            position: relative;

            &.divider {
                border-bottom: 1px solid @gb-dropdown-background-hover;
            }

            a {
                padding: 2px 4px;
                cursor: default;
                color: inherit;
                text-decoration: none;
                display: block;

                &:hover {
                    background: @gb-dropdown-background-hover;
                }
            }

            &.active > a {
                background: @gb-dropdown-background-active;
                color: #fff;
            }


            // Submenu
            >.dropdown-menu {
                right: auto;
                left: 100%;
                margin-top: 0px;
                top: 0px;

                &:after, &:before {}
            }

            &:hover {
                >.dropdown-menu {
                    display: block;
                }
            }
        }
    }

    // Arrows
    &:not(.context) > .dropdown-menu {
        margin-top: 12px;
        overflow: visible !important;

        &:after, &:before {
            bottom: 100%;
            right: 16px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:before {
            border-color: transparent;
            border-bottom-color: @gb-dropdown-border;
            border-width: 11px;
            margin-right: -11px;
        }
        &:after {
            border-color: transparent;
            border-bottom-color: @gb-dropdown-background;
            border-width: 10px;
            margin-right: -10px;
        }
    }

    &.pull-left:not(.context) {
        > .dropdown-menu {
            left: 0px;
            right: auto;

            &:not(.inner) {
                &:after, &:before {
                    right: auto;
                    left: 16px;
                }
                &:before {
                    margin-right: 0px;
                    margin-left: -11px;
                }
                &:after {
                    margin-right: 0px;
                    margin-left: -10px;
                }
            }
        }
    }

    // Context menu
    &.context {
        position: fixed;
        z-index: @gb-zindex-contextmenu;

        .dropdown-menu {
            display: block;
            position: static;
            top: 0px;
            right: 0px;
        }
    }
}

