
// Represent an <input>, <select>, ...
.form-control {
    width: 100%;
    padding: @gb-padding-base-vertical @gb-padding-base-horizontal;
    border-radius: @gb-border-radius-small;
    font-size: 1.1rem;
    border: 1px solid @gb-form-control-border;
    background: @gb-form-control-background;
    outline: none;
    color: @gb-form-control-color;

    //// States
    &:focus, &.focus {
        outline: none;
        border-color: @gb-form-control-active-border;
        background: @gb-form-control-active-background;
    }

    &:disabled, &.disabled {
        border-color: @gb-form-control-disabled-border;
        background: @gb-form-control-disabled-background;
    }


    //// Sizes
    .button-size(@gb-padding-base-vertical; @gb-padding-base-horizontal;
        @gb-font-size-base; @gb-line-height-base; @gb-border-radius-base);

    /// Sizes
    &.input-lg {
        // line-height: ensure even-numbered height of button next to large input
        .button-size(@gb-padding-large-vertical; @gb-padding-large-horizontal; @gb-font-size-large; @gb-line-height-large; @gb-border-radius-large);
    }
    &.input-sm {
        // line-height: ensure proper height of button next to small input
        .button-size(@gb-padding-small-vertical; @gb-padding-small-horizontal; @gb-font-size-small; @gb-line-height-small; @gb-border-radius-small);
    }
    &.input-xs {
        .button-size(@gb-padding-xs-vertical; @gb-padding-xs-horizontal; @gb-font-size-small; @gb-line-height-small; @gb-border-radius-small);
    }
}

// Select
select.form-control {
    .btn();
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;

    background-image: url(@gb-form-select-caret), linear-gradient(@gb-button-background, darken(@gb-button-background, 6%));
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: right;

    &:hover {
        background-image: url(@gb-form-select-caret), linear-gradient(@gb-button-background, darken(@gb-button-background, 10%));
        background-repeat: no-repeat;
        background-position-y: 12px;
        background-position-x: right;
    }

    &:focus {
        background-image: url(@gb-form-select-caret), linear-gradient(@gb-button-background, darken(@gb-button-background, 10%));
        background-repeat: no-repeat;
        background-position-y: 12px;
        background-position-x: right;
        border-color: @gb-form-control-active-border;
    }
}

.select {
    .form-control();
    position: relative;
    padding: 0;
    border: none;

    button.btn {
        width: 100%;

        .caret {
            position: absolute;
            top: 50%;
            margin-top: -2px;
            right: 12px;

        }
    }

    .select-container {
        .dropdown-menu();
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: -1px;
        min-width: 100%;
        max-width: 100%;

        .select-search {
            padding: 4px 8px;
        }

        .select-options {
            .dropdown-menu();
            display: block;
            position: static;
            border: 0;
            margin: 0;
            padding: 0;
            box-shadow: none;

            .select-option {
                position: relative;
                cursor: pointer;
                padding: 4px 10px 4px 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:hover, &.active {
                    background-color: @gb-palette-blue;
                    color: #fff;
                }
            }
        }
    }
}

// For radio and checkbox
.radio, .checkbox, .form-group .radio, .form-group .checkbox {
    display: block;
    min-height: 20px;
    margin-bottom: 2*@gb-padding-base-vertical;
    padding-left: 20px;
    vertical-align: middle;

    input[type="radio"], input[type="checkbox"] {
        float: left;
        margin-top: 3px;
        margin-left: -20px;
    }

    label {
        display: inline;
        margin-bottom: 0;
        font-weight: @gb-font-weight-base;
        cursor: pointer;
    }
}

// Represent a group with a label and an input
.form-group {
    margin-bottom: 2*@gb-padding-base-vertical;

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: @gb-font-weight-bold;

        .note {
            min-height: 17px;
            margin: 4px 0 2px;
            font-size: @gb-font-size-small;
            color: #767676;
        }
    }

    &.has-error {
        label, .help-block {
            color: @gb-brand-danger;
        }

        .form-control {
            border-color: @gb-brand-danger;
        }
    }
}

.form-horizontal {
    .form-group {
        .clearfix();
    }
}

.form-inline {
    .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .form-control {
        display: inline-block;
        width: auto; // Prevent labels from stacking above inputs in `.form-group`
        vertical-align: middle;
    }

    .btn {
        vertical-align: middle;
    }
}

