.label {
    display: inline-block;
    margin: 0px;
    padding: 4px 5px 3px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 3px;

    &.label-warning {
        color: #a1882b;
        background-color: #ffefc6;
    }
    &.label-info {
        background-color: @gb-state-info-background;
        color: @gb-state-info-color;
    }
    &.label-success {
        background-color: @gb-state-success-background;
        color: @gb-state-success-color;
    }
    &.label-danger {
        background-color: @gb-state-danger-background;
        color: @gb-state-danger-color;
    }
}

a.label {
    &:hover {
        color: @gb-link-color;
        text-decoration: none;
    }
}