.label {
    display: inline-block;
    margin: 0px;
    padding: 4px 5px 3px;
    font-size: 11px;
    font-weight: 300;
    line-height: 11px;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 3px;

    &.label-warning {
        background-color: @gb-alert-warning-background;
        color: @gb-alert-warning-color;
    }
    &.label-info {
        background-color: @gb-alert-info-background;
        color: @gb-alert-info-color;
    }
    &.label-success {
        background-color: @gb-alert-success-background;
        color: @gb-alert-success-color;
    }
    &.label-danger {
        background-color: @gb-alert-danger-background;
        color: @gb-alert-danger-color;
    }
}