a {
    text-decoration: none;
    color: @gb-link-color;

    &:focus, &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: @gb-link-color;
    }

    // Text with same color as parent
    &.muted-link {
        color: inherit;

        &:visited {
            color: inherit;
        }

        &:focus, &:hover {
            text-decoration: none;
            color: @gb-link-color;
        }
    }
}
