.pagehead {
    .clearfix();
    margin: 0 auto;
    padding: 0;
    background-color: @gb-pagehead-background;
    border-bottom: 1px solid @gb-pagehead-border;
    box-shadow: @gb-pagehead-shadow;

    .head-content {
        > h1 {
            color: inherit;
            margin: 0 0 10px;
            font-size: 42px;
            font-weight: 500
        }

        p {

        }
    }

    .head-heading {
        font-size: 24px;
        padding: 0px;
        margin: 0px;
        line-height: 53px;
        font-weight: @gb-font-weight-bold;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: @gb-link-color;
                text-decoration: none;
            }
        }

        > i {
            line-height: 1em;
        }
    }

    .search-bar, .head-button, .head-toolbar {
        margin-top: 16px;
    }

    /* Menu */
    .menu {
        list-style: none;
        .clearfix();
        margin: 0px;
        padding: 0px;
        text-align: center;

        /* Items */
        li {
            display: inline-block;

            > a {
                color: @gb-pagehead-menu-color;
                padding: @gb-pagehead-menu-padding-v @gb-pagehead-menu-padding-h;
                margin-bottom: -1px;
                border-bottom: 1px solid @gb-pagehead-border;
                letter-spacing: -0.02em;
                font-weight: @gb-font-weight-bold;
                font-style: normal;
                font-size: 11px;
                letter-spacing: .2em;
                text-transform: uppercase;
                display: inline-block;

                i {
                    font-size: 16px;
                    line-height: 1em;
                }

                &:hover, &:focus {
                    text-decoration: none;
                }
            }

            &.active {
                > a {
                    padding-bottom: (@gb-pagehead-menu-padding-v - 2);
                    border-width: 3px;
                    color: @gb-pagehead-menu-active-color;
                    border-color: @gb-pagehead-active-border;
                    font-weight: @gb-font-weight-bolder;
                }
            }

            &:first-child {
                > a {
                    margin-left: 0px;
                }
            }

            &:last-child {
                > a {
                    margin-right: 0px;
                }
            }
        }
    }

    .btn-group.open .dropdown-toggle {
        .box-shadow(none);
    }
}
