.panelStyle(@borderColor, @backgroundColor, @color) {
    border-color: @borderColor;

    .panel-heading {
        color: @color;
        background-color: @backgroundColor;
        border-color: @borderColor;
    }
}


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: @gb-border-radius-small;
    .box-shadow(~"0 1px 1px rgba(0,0,0,0.05)");

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 1px;
        border-top-left-radius: 1px;

        .panel-title {
            margin: 0px;
            padding: 0px;
            font-size: inherit;
            font-weight: bold;

            a {
                color: inherit;

                &:hover, &:focus {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    .panel-body {
        padding: 15px;
    }

    .panel-footer {
        padding: 10px 15px;
        background-color: @gb-palette-gray-light;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: 1px;
    }

    &.panel-default {
        .panelStyle(@gb-palette-gray-outline, @gb-palette-gray, @gb-text-color);
    }

    &.panel-danger {
        .panelStyle(@gb-alert-danger-border, @gb-alert-danger-background, @gb-alert-danger-color);
    }

    &.panel-warning {
        .panelStyle(@gb-alert-warning-border, @gb-alert-warning-background, @gb-alert-warning-color);
    }

    &.panel-info {
        .panelStyle(@gb-alert-info-border, @gb-alert-info-background, @gb-alert-info-color);
    }

    &.panel-success {
        .panelStyle(@gb-alert-success-border, @gb-alert-success-background, @gb-alert-success-color);
    }

}

