/* Search Bar */
.search-bar {
    width: 100%;
    max-width: 300px;
    margin-top: 13px;
    background: @gb-pagehead-search-background;
    border: 1px solid @gb-pagehead-search-border;
    position: relative;
    cursor: text;

    i {
        position: absolute;
        left: 8px;
        font-size: 16px;
        line-height: 34px;
        color: #bbb;
    }

    input {
        border: none;
        .box-shadow(none);
        height: 34px;
        padding-left: 30px;
        background: transparent;
    }
}
