.time-graph {
    width: 100%;

    .time-graph-tooltip {
        position: fixed;
        padding: 10px;
        background-color: rgba(250, 250, 250, 0.85);
        min-width: 100px;
        border-radius: 3px;

        .point-details {
            .point-color {
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                vertical-align: middle;
                margin-right: 5px;
            }

            & > td {
                padding: 0 5px;
                white-space: nowrap;
            }
        }

    }
}
