.time-graph {
    width: 100%;

    .time-graph-tooltip {
        position: fixed;
        padding: 0 @gb-padding-base-horizontal @gb-padding-base-vertical;
        background-color: @gb-tooltip-background;
        color: @gb-tooltip-color;
        border-radius: @gb-tooltip-radius;

        .points-details {
            .points-colors > td {
                height: 2px;
            }

            .points-values > td {
                padding-right: 20px;
                font-size: @gb-font-size-small;
            }
        }

    }
}
