.tooltipped {
    display: inline;
    position: relative;

    &:hover, &.tooltipped-o {
        &:after {
            line-height: 1em;
            background: #111;
            background: rgba(0,0,0,.9);
            border-radius: 1px;
            bottom: auto;
            top: ~"calc(100% + 10px)";
            color: #fff;
            content: attr(aria-label);
            display: block;
            left: 5px;
            padding: 5px 5px;
            position: absolute;
            text-shadow: 0 1px 0 #000;
            white-space: nowrap;
            z-index: @gb-zindex-tooltip;
            font-size: 13px;
            text-transform: none;
            font-weight: @gb-font-weight-base;
        }

        &:before {
            border: solid;
            border-color: #111 transparent;
            border-color: rgba(0,0,0,.9) transparent;
            bottom:auto;
            top: ~"calc(100% + 5px)";
            border-width: 0px 5px 5px 5px;
            content: "";
            display: block;
            left: 10px;
            position: absolute;
            z-index: @gb-zindex-tooltip+1;
        }
    }

    .north() {
        &:after {
            top: auto;
            bottom: ~"calc(100% + 10px)";
        }
        &:before {
            top: auto;
            border-width: 5px 5px 0px 5px;
            bottom: ~"calc(100% + 5px)";
        }
    }
    .west() {
        &:after {
            left: auto;
            right: 5px;
        }
        &:before {
            left: auto;
            right: 10px;
        }
    }

    &.tooltipped-n, &.tooltipped-ne {
        .north();
    }

    &.tooltipped-nw {
        .north();
        .west();
    }
    &.tooltipped-sw, &.tooltipped-w {
        .west();
    }
}
